<ul class="fancycat-icons-level-0">

        <li class="highlight first" style="z-index: 1003;">
      <a href="home.php?cat=244" class="icon-link"><img src="http://xcart47.local/images/C.cache.catthumbn/186.jpg" alt="" width="16" height="16" />Apparel&#32;(4)</a>

          </li>

      <li style="z-index: 1002;">
      <a href="home.php?cat=3" class="icon-link"><img src="http://xcart47.local/images/C.cache.catthumbn/160.jpg" alt="" width="13" height="16" />Books&#32;(5)</a>

          </li>

      <li class="highlight last" style="z-index: 1001;">
      <a href="home.php?cat=5" class="icon-link"><img src="http://xcart47.local/images/C.cache.catthumbn/188.jpg" alt="" width="14" height="16" />Toys&#32;(3)</a>

          </li>

  
</ul>
